<!doctype html>
<html>
<head>
	<title>Django Jquery</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript">

    $('#sendbutton').click(function() {
      //var data = $("#ajaxwrapper").serializeArray()
      //console.log(data)
      $.post("{% url guardar-user %}", $("#ajaxwrapper").serialize(),
        function(data) {
          // call callback
          alert(data);
       }); 
    });
	// $(function() {
 //      var form = $("#pony_form");
 //      form.submit(function(e) {
 //      	e.preventDefault();
 //          $("#sendbutton").attr('disabled', true)
 //          $("#sendwrapper").prepend('<span>Sending message, please wait... </span>')
 //          $("#ajaxwrapper").load(
 //              form.attr('action') + ' #ajaxwrapper',
 //              form.serializeArray(),
 //              function(responseText, responseStatus) {
 //                  $("#sendbutton").attr('disabled', false)
 //                  window.parent.location="/"
 //              }
 //          );
 //      });
 //  });
	</script>
</head>

<body>
	<div id="message_area"></div>
	<form id="pony_form" method="POST" action="">
	    <div id="ajaxwrapper">
	    {% csrf_token %}
	    {{form.as_ul}}
	    <p id="sendwrapper"><input type="submit" value="Send" id="sendbutton" ></p>
	    </div>
	</form>
</body>
</html>