<!doctype html>
<html>
<head>
	<title>Django Jquery</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript">
$(document).ready(function($) {
		$('#pony_form').on("submit", function(e){
    	e.preventDefault();
    	$.ajax({
    		type: "POST",
    		url: "{% url guardar-user %}",
    		data: $("#pony_form").serialize(),
    		success: function(msg){
    			$("#mensajes_pro").html(msg);
    			//$('form :input').val("");
    			$('#pony_form')[0].reset();
    		}
    	});

    });
});	
	// $(function() {
 //      var form = $("#pony_form");
 //      form.submit(function(e) {
 //      	e.preventDefault();
 //          $("#sendbutton").attr('disabled', true)
 //          $("#sendwrapper").prepend('<span>Sending message, please wait... </span>')
 //          $("#ajaxwrapper").load(
 //              form.attr('action') + ' #ajaxwrapper',
 //              form.serializeArray(),
 //              function(responseText, responseStatus) {
 //                  $("#sendbutton").attr('disabled', false)
 //                  window.parent.location="/"
 //              }
 //          );
 //      });
 //  });
	</script>
</head>

<body>
	<div id="mensajes_pro"></div>
	<form id="pony_form" method="POST">
	    
	    {% csrf_token %}
	    {{form.as_ul}}
	    <input type="submit" value="Send">
	   
	</form>
</body>
</html>