<!doctype html>
<html>
<head>
	<title>Django Jquery</title>
  <link rel="stylesheet" href="{{STATIC_URL}}css/alertify.core.css">
  <link rel="stylesheet" href="{{STATIC_URL}}css/alertify.default.css">
  
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}js/alertify.min.js" type="text/javascript"></script>


<script type="text/javascript">
$(document).ready(function($) {
		//$('input[type="text"]').addClass("required");
		$("#pony_form").validate({
			rules: {
			    edad: {
			      required: true,
			      number: true
			    },
			    nombre: {
			    	required: true
			    },
			    apellido: {
			    	required: true
			    },
			    twitter: {
			    	required: true
			    }
			  }
		});
		$('#pony_form').on("submit", function(e){
    		e.preventDefault();
    	$.ajax({
    		type: "POST",
    		url: "{% url guardar-user %}",
    		data: $("#pony_form").serialize(),
    		success: function(msg){
          if (msg == "exito"){
            //$("#mensajes_pro").html(msg);
            //$('form :input').val("");
            $('#pony_form')[0].reset();
            alertify.success("Todo se almacenado con exito.");
          }
          else {
            //$("#mensajes_pro").html("Ocurrieron errores por favor corrijalos");
            alertify.error("Ocurrieron errores por favor corrijalos.");
          }	
    		}
    	});

    });
});
</script>
</head>

<body>
	<div id="mensajes_pro"></div>
	<form id="pony_form" method="POST">
	    
	    {% csrf_token %}
	    {% for field in form %}
    	<div class="fieldWrapper">
        	{{ field.errors }}
        	{{ field.label_tag }}: {{ field }}
    	</div>
{% endfor %}
	    <input type="submit" value="Send">
	   
	</form>

</body>
</html>